body {
    font-family: Arial, sans-serif;
    background-image: url('YE.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 420px;
    color: white;
}

h1, h2 {
    color: white;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 5px 0;
    width: 75%;
    text-align: center;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #0056b3;
}

hr {
    border: 0;
    height: 1px;
    background: #ffffff;
    margin: 10px 0;
}
